@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
body{
    background-color: #3e4651;
}
.myname{
    position: absolute;
    left: 48.1%;
    top: 32%;
    z-index: 1;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
}
.rect{
    width: 300px;
    height: 300px;
    background-color: #1f2227;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 0 30px #1f2227a1;
}
.cir{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-image: linear-gradient(to right,#fa6a52,#e71c50);
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner_cir{
    width: 200px;
    height: 200px;
    background: black url(clock.png);
    background-size: cover;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.center{
    width: 20px;
    height: 20px;
    background-image: linear-gradient(to right,#fa6a52,#e71c50);
    border-radius: 50%;
    z-index: 10000;
}
#hr{
    width: 100px;
    height: 100px;
    position: absolute;
    display: flex;
    justify-content: center;    
}
#min{
    width: 100px;
    height: 100px;
    position: absolute;
    display: flex;
    justify-content: center;   
}
#sec{
    width: 100px;
    height: 100px;
    position: absolute;
    display: flex;
    justify-content: center;
}
#hr::before{
    content: "";
    width: 8px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: -8px;
    border-radius: 10px;
}
#min::before{
    content: "";
    width: 5px;
    height: 70px;
    background-color: white;
    position: absolute;
    top: -25px;
    border-radius: 10px;
}
#sec::before{
    content: "";
    width: 2px;
    height: 100px;
    background-color:#e71c50;
    position: absolute;
    top: -25px;
}